.user-info-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #1685AD; /* Slightly thicker border for definition */
    background-color: #C9F7FF; /* Light blue background for a soft look */
    border-radius: 8px; /* Rounded corners for a smoother look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.form-field {
    margin-bottom: 20px; /* Increased spacing between fields */
}

.label {
    display: block;
    margin-bottom: 8px; /* Adjust if more vertical space is needed */
    color: #1685AD; /* Dark blue for the label color */
    font-weight: bold;
}

.input {
    width: calc(100% - 40px); /* Adjust width to account for padding */
    padding: 10px 20px; /* Increased padding for comfort */
    border: 1px solid #ccc; /* Subtle border color */
    border-radius: 4px; /* Rounded corners for the input fields */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Inner shadow for depth */
    transition: border-color 0.3s; /* Smooth transition for focus effect */
}

.input:focus {
    border-color: #61BAE5; /* Light blue border when focused */
    outline: none; /* Remove default focus outline */
}

.error {
    color: #EF972C; /* Vibrant orange for error messages */
    font-size: 0.9em; /* Slightly smaller font for error text */
    margin-top: 5px; /* Space between input and error message */
}

.submit-btn {
    background-color: #61BAE5; /* Light blue background for the button */
    color: white;
    padding: 12px 20px; /* More padding for a larger button */
    border: none;
    border-radius: 4px; /* Rounded corners for the button */
    cursor: pointer;
    font-weight: bold; /* Bold text for the button */
    text-transform: uppercase; /* Uppercase text for a more button-like appearance */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow for depth */
}

.submit-btn:hover {
    background-color: #1685AD; /* Darker blue on hover for interaction feedback */
}
